@model LoginViewModel 

<div class="container mx-auto" style="width: 500px;">
    <div class="page-header no-padding no-margin">
        <img src="~/Images/bayada_logo.jpg"
             class="img-responsive center-block"
             style="max-width:500px;max-height:100px;margin-top:-7px" />
    </div>
    <h4> Email Confirmed!</h4>
    <p>Thank you for confirming your email. Please <a href="@Url.Action("Login","Account")">click here to Log in.</a></p>
</div>