@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="page-header no-padding no-margin">
    <img src="~/Images/bayada_logo.jpg"
         class="img-responsive center-block"
         style="max-width:500px;max-height:100px;margin-top:-7px" />
</div>
<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
</p>